
<style>
    .img-size{
        display: block;
        margin:0;
        width: 100%;
        max-width:800px;
        height:100%;
    }

</style>
<h1>Wrong page</h1>


<img src="~/images/leg-break-ufc.gif" class="img-fluid img-size" alt="Fighter 3">